# -----------------------------------------------------------------------------
# ENVIRONMENT - Set this one to production in production environment
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_ENV=development

# -----------------------------------------------------------------------------
# App - Set these to your production domain in production environment
# -----------------------------------------------------------------------------
NEXT_PUBLIC_APP_URL=http://localhost:3000

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=YOUR_SECRET

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# Database - MongoDB
# -----------------------------------------------------------------------------
DB=mongodb://localhost:27017/aeonia
DATABASE_URL=mongodb://localhost:27017/aeonia

# -----------------------------------------------------------------------------
# RESEND
# -----------------------------------------------------------------------------
RESEND_KEY=YOUR_RESEND_KEY
# Only use this email domain locally for testing purposes. In production, use your own domain.
RESEND_EMAIL_DOMAIN=onboarding@resend.dev
